@inject ICategoryService CategoryService
@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;
@if (category!=null)
{
	<h1>Welcome to the @category.Name section!</h1>
	//<Calender/>
	<ProductList />
}
else
{
	<h1>Welcome to Blazor Shop!</h1>
	<h5>Blazor Shop proposes books, aperature and movies with short description, original orice, and current price. </h5>
	//<FilterBar/>
	<ProductList />
}

@code{
	[Parameter]
	public string CategoryUrl { get; set; }

	private Category category = null;

	protected override async Task OnParametersSetAsync()
	{
		await ProductService.LoadProducts(CategoryUrl);
		if (CategoryUrl != null)
		{
			category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
		}
		else
		{
			category = null;
		}
	}
}